header{
  padding: 12px 0px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:lightblue;
  color: black;

    a{
      color: red;
    }
  .logo{
    span{
      background: white;
      border-radius: 10px;
      color: black;
      padding: 7px 20px;
    }
  }

  nav{
    width: 55%;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    background-color: black;

    button{
      position: absolute;
      top: 15px;
      right: 15px;
    }
    a{
      display: block;
      width: 85%;
      margin: 0 auto;
      text-decoration: none;
      &:first-of-type{
        margin-top: 80px;
      }
    }
    &:not(:last-of-type){
      margin-bottom: 13px;
    }
    &::before{
      content: "- ";
    }

  }

  .showNav{
    text-align: right;

    button{
      margin-right: 10px;
    }
  }

}
