<header class="w-100 px-3 position-sticky top-0 py-3 bg-danger row m-0 align-items-center z-3">
    <div class="col-2">
        <span class="text-white"> Logo</span>
    </div>
    <div class="col 5 w-25">
        <label class=" bi bi-search" ></label>
        <input type="text">
    </div>

    <nav class="bg-dark " [class.active]="ver" >
        <button type="button" class="text-black d-block text-decoration-none" (click)="Inicio()">Inicio</button>
        <button type="button" class="text-black d-block text-decoration-none" (click)="Personal()"> Personal </button>
        <button type="button" class="text-black d-block text-decoration-none" (click)="Familia()"> Familia</button>
        <button type="button" class="text-black d-block text-decoration-none" (click)="Deporte()"> Deporte</button>
        <button type="button" class="text-black d-block text-decoration-none" (click)="Citas()"> Citas</button>
        <button type="button" class="text-black d-block text-decoration-none"> Notificacion</button>
        <button type="button" class="text-black d-block text-decoration-none"> Tema</button>
        <button type="button" class="text-black d-block text-decoration-none"> Contacto</button>
            <button type="button" class="btn btn-light position-absolute" (click)="toggleVer()">
                <i class="bi bi-x-lg"></i>
            </button>
    </nav>
    <div class="col-5 w-25">
        <button type="button" class="btn btn-primary" (click)="toggleVer()">
            <i class="bi bi-list " ></i>
        </button>
    </div>
</header>