<div class="text-center">
    <h1 class="fw-bold"> Añadir nueva tarea</h1>
    <input type="text"  placeholder="nombre de la tarea">
    <br>

</div>
<textarea placeholder="Descripcion" class=" mt-5"></textarea>
<div class="row">
    <label class="col 6">Incio</label>
    <label class="col 6">Fin</label>
    <br>
</div>
<div class="row">
    <input class="col 6" type="date">
    <input class="col 6" type="date">
</div>
<br>
<div>
    <label> Categoría : </label>
    <select>
        <option value="Personal">Personal</option>
        <option value="Familia">Familia</option>
        <option value="Deporte">Deporte</option>
        <option value="Citas">Citas</option>
    </select>
</div>
<br>
<div class="row">
<button type="button" class="btn btn-danger col-6">Cancelar</button>
<button type="button" class="btn btn-primary col-6">Confirmar</button>

</div>