form{
  text-align: center;
  padding-top: 15px;
}
div{
  p{
    font-family: Arial;
    font-size: 15px;
  }
 label{
   font-weight: bold;
 }
  input{
    width: 100%;
  }

}
select{
  width: 100%;
}
.button-forn{
  button{
    display: block;
    margin: 0 0 0 auto;
    border-radius: 10px;
    background:lightblue;
    outline: none;
    transition: .24s;
    padding: 5px 10px;

    &:hover{
      background: lightgreen;
    }
    &[disabled]{
      display: none
    ;
    }
  }

}

