div{

  text-align: center;
  display: grid;
grid-template-columns: 1fr 1fr;
  span{

    img{

      margin: 20px;
      width: 150px;
      height: 150px;
      position: relative;
    }
    font-size: 15px;
  }
  .id{
    color: black;
    font-weight: bold;
  }
  .descripcion{
    text-align: justify;
  }
  .name{
    font-weight: bold;
  }
  button{
    display: block;
    margin: 0 auto;
  }
}
