<div class="text-center mt-5">
    <span> Logo</span>
    <p class="mt-3  fw-bold" > Registrarse</p>
</div>
<div class="text-center mt-5">
    <label>Nombre: </label>
    <br>
    <input type="text" class="ms-2">
    <br>
    <label class="mt-3">Apellidos:</label>
    <br>
    <input type="text" class="ms-2">
    <br>
    <label class="mt-3">Email:</label>
    <br>
    <input type="text" class="ms-2">
    <br>
    <label class="mt-3">Contraseña:</label>
    <br>
    <input type="text" class="ms-2">
    <br>
    <label class="mt-3">Confirmar contraseña:</label>
    <br>
    <input type="text" class="ms-2">
</div>
<div class="text-center mt-5">
    <button type="button" (click)="Iniciar()"> Registrarse</button>
</div>